* {
    box-sizing: border-box;
}
body {
    font-family: helvetica, arial, sans-serif;
    margin: 0 0 1em;
    padding: 0 1em;
    min-width: 600px;
}

h1 {
    margin: 1rem 0 1rem;
    color: white;
    background-color: #4B2E83;
    padding: 0.5rem;
}

h2 {
    font-size: 1.25rem;
    margin: 1rem 0 0.25rem;
}

p {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}
    
    

ul {
    list-style: none inside none;
    margin-top: 0.25em;
    margin-left: 0.5em;
    padding-left: 0em;
    text-indent: 0;
}
ul li {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    line-height: 1;
    clear: both;
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
}
ul li:before {
    content: "\25cf";
    position: relative;
    display: inline-block;
    left: -0.5em;
    color: #4b2e83;
    top: -1px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    ul li:before { top: 0.4em; }
} 

a:link {
    color: #08d;
}
a:hover,
a:focus {
    color: #85754d;
}

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}




#fixed_params {
    /* display: none; */
    width: 100%;
    border-color: black;
}

#fixed_params div { 
    display: table-row;
}    
#fixed_params div + div label {
    padding-top: 1em;    
}
#fixed_params div label {
    display: table-cell;
    font-size: 1rem;
}
#fixed_params div label:after {
    content: ": ";    
}
#fixed_params div input {
    display: table-cell;    
    font-size: 1rem;
    margin-left: 0.5em;
}        
#fixed_params div input[type="text"] {
    min-width: 28em;
}
#fixed_params div input[type="number"] {
    max-width: 4em;
}
div#form_container {
    position: relative;
}

div#input label {
    display: block;
    width: 100%;
    font-weight: bold;
}
div#input label:after {
    content: ": ";
}
div#input textarea { 
    width: 100%;
    box-sizing: border-box;    
    border: solid 1px black;
    resize: vertical;
    padding: 5px;
    min-height: 4em;
    overflow-y: scroll;
}    


form div.button_bar {
    margin-top: 0.375em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

form div.button_bar > input {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-right: 1em;
}

button#copy,
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    padding: 0.375em 0.5em;
    border: solid 1px transparent;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

button#copy,
input[type="submit"] {
    background-color: #4B2E83;
    color: #fff;  
    border-color: #000;
}
button#copy:hover,
button#copy:focus,
input[type="submit"]:hover, 
input[type="submit"]:focus {
    color: #d7a900;
    border-color: #d7a900;
}
button#copy:active,
input[type="submit"]:active {
    color: #000;
    border-color: #000;
    background-color: #d7a900;
}

input[type="reset"] {
    background-color: #fff;
    color: #08d;    
    padding-left: 0;
    padding-right: 0;
}
input[type="reset"]:hover, input[type="reset"]:focus {
    color: #85754d;
}
input[type="reset"]:active {
    color: #c61029;
}

div#output {
    display: none;
    padding-top: 0.25em;
}

div#output h2:after {
    content: ": ";
}

table#output_table {
    border: solid 1px black;
    border-collapse: collapse;
    width: 100%;
}

table#output_table td, th {
    border: solid 1px black;
    padding: 0.2em 0.5em;
    vertical-align: top;
    text-align: left;
}
table#output_table th {
    background-color: #B7A57A;
}

table#output_table th.status, 
table#output_table td.status {
    width: calc(1em + 16px);
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}
table#output_table th.status {
    background-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
table#output_table tr.fail td.status  {
    background-color: #C61029;
    color: #fff;
}
table#output_table tr.fail td.status span.symbol:after {
    content: "\2717";
}
table#output_table tr.success td.status  {
    background-color: #4A7C01;
    color: #fff;
}
table#output_table tr.success td.status span.symbol:after {
    content: "\2713";
}

div#output_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-end;
}
div#output_header > *  {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-bottom: 0.25rem;
}

.tooltip {
    position: relative;
}
.tooltip span {
    position: absolute;
    color: #FFFFFF;
    background: #165788;
    text-align: center;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%,0);
    bottom: calc(2px + 0.75em + 1.25em + 10px); /* border + padding + height + arrow height */
    padding: 0.625em;    
    display: none;
    width: 95%;
}
.tooltip span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #165788;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    display: block;
    overflow: visible !important;
}


table#output_table td.pnx span.tooltip span {
    bottom: calc(1.25em + 0.4em);
    width: 200%;
    text-align: left;
}

table#output_table td.pnx span.tooltip:hover span {
    display: block;
}